PORT=3001
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRATION=1d

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://conecta-social-fatec.vercel.app

RUN_MIGRATIONS=false
RUN_SEED=false
ADMIN_EMAIL=admin@conecta.com
ADMIN_PASSWORD=
ADMIN_NAME=Admin
ADMIN_SURNAME=Root
ADMIN_ROLE=ADMIN

BETTER_STACK_URL=
BETTER_STACK_TOKEN=

AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_S3_SIGNED_URL_EXPIRES=3600
